USE [master]
GO
/****** Object:  Database [vehciulos]    Script Date: 2/9/2026 11:26:23 ******/
CREATE DATABASE [vehciulos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'vehciulos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\vehciulos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'vehciulos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\vehciulos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [vehciulos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [vehciulos]
GO
/****** Object:  Table [dbo].[vehiculos]    Script Date: 2/9/2026 11:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehiculos](
	[Id_vehiculo] [int] IDENTITY(1,1) NOT NULL,
	[Id_categoria] [int] NOT NULL,
	[marca_vehiculo] [varchar](50) NOT NULL,
	[modelo_vehiculo] [varchar](50) NOT NULL,
	[precio_vehiculo] [decimal](10, 2) NOT NULL,
	[stock_vehiculo] [int] NOT NULL,
	[estado_vehiculo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_vehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
